.App {
  width: 300px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 5px;
  border: 2px solid #e1e5eeb9;
}

.header {
  font-size: 46px;
  margin-bottom: 20px;
  text-align: center;
  color: #6E38F7;
}

.currentCount {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  color: #6E38F7;
}

.buttonBlock {
  display: flex;
  justify-content: space-around;
}

.button {
  color: white;
  width: 100px;
  height: 50px;
  background: #6E38F7;
  border-radius: 4px;
}

.button:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.3s;
}